---
import Layout from '../../layouts/Layout.astro'

import '../../styles/pages/members.scss'
import '../../styles/photos.scss'

import updateMember from '../../../members/updateMember.js'
import defaultBio from '../../../members/defaultBio.js'
import updateLeftMember from '../../../members/updateLeftMember.js'
import getUserGrade from '../../../members/getUserGrade.js'

var usernames = []

await fetch(`https://database.graphics-for-good.com/getUsernames`)
    .then(res => res.json())
    .then(json => usernames = json.response)

var paths = []
usernames.forEach(function(u, i) {
    paths.push({params: {username: u}})
})

export function getStaticPaths() {
    return [
        {params: {username: 'adarsh'}}, 
        {params: {username: 'amelia'}}, 
        {params: {username: 'beatriz'}}, 
        {params: {username: 'bridget'}}, 
        {params: {username: 'cedrus'}}, 
        {params: {username: 'esha'}}, 
        {params: {username: 'hanlin'}}, 
        {params: {username: 'isabelle'}}, 
        {params: {username: 'jeremy'}}, 
        {params: {username: 'lorelai'}}, 
        {params: {username: 'luce'}}, 
        {params: {username: 'mia'}}, 
        {params: {username: 'robin'}}, 
        {params: {username: 'samantha'}}, 
        {params: {username: 'sayuri'}}, 
        {params: {username: 'shikha'}}, 

        {params: {username: 'juhi'}}, 
        {params: {username: 'rien'}}, 
        {params: {username: 'sam'}}, 
    ];
}

const { username } = Astro.params;
if (!username) username = '_admin'

import MemberPageTemplate from '../../components/memberPageTemplate.astro'

var defaultData = await Astro.glob('../../../members/_admin/info.js')
var userDatas = await Astro.glob('../../../members/*/info.js')

var userData = userDatas.find(data => data.username === username)
userData = updateMember(userData, defaultBio, updateLeftMember, getUserGrade)
---
<Layout title={userData.name}>
  <main id="content" class="profile">
    {
      userData ? 
        <section>
          {
            (userData.status === 'active' && userData.pfp) ? <img class="pfp" id="pfp" src={userData.pfp.url} /> : ''
          }
          <h1 class="name" id="name">{userData.name}</h1>
          {
            (userData.status === 'active' && userData.email) ? <a class="email" id="email" href={`mailto:${userData.email.address}`}></a> : ''
          }
          {
            (userData.status === 'active' && userData.location) ? 
              <a class="location" id="location" href={userData.location.mapLink}>        
                <div></div>
                <span>{userData.location.combined}</span>
              </a>
            : ''
          }
          {
            (userData.status === 'active' && userData.socials) ? 
              <ul class="socials">
                {
                  userData.socials.map((social) => (
                    <li>
                      <a href={social.url} target="_blank" style={`background-image: url('${social.icon}')`}></a>
                    </li>
                  ))
                }
              </ul>
            : ''
          }
          <p class="bio" id="bio" set:html={userData.bio.result}></p>
          {
            (userData.status === 'active' && userData.portfolio) ? 
                <h2>Portfolio</h2>
                <ul class="photos" style="height: auto; gap: 25px;">
                {
                  userData.portfolio.map((photo) => {
                    <li>
                      <img src={photo.src} title={photo.title} onclick={photo.onclick} />
                    </li>
                  })
                }
              </ul>
            : ''
          }
        </section>
      : <section><pre>{userData}</pre></section>
    }
  </main>
  <script is:inline src="/members.js"></script>
  <script is:inline src="/modal.js"></script>
</Layout>