---
import defaultBio from './defaultBio.js'

const userData = {
  username: 'adarsh', 
  name: 'Adarsh Kumar <span id="tag">(Website Manager/Designer)</span>',
  pronunciation: false, //'Uh-da-r-sh',
  email: {
    g4g: true,
    dtech: {
      year: 25,
    },
  }, 
  pfp: {
    url: `/assets/members/${userData.username}/pfp.png`, 
    g4g: {
      sizes: [
        {
          ext: 'png',
          name: 'full', 
      }, 
      ],
    },
    google: 'AEdFTp7icI4wRK0FPsc17CnhxoQslGk8Pj8cUQo8a6S80w',
  },
  location: {
    city: 'Bay Area', 
    state: '',
    combined: `${userData.location.city}, ${userData.location.state}`
  }, 
  bio: {
    w1: 'the',
    w2: 'for',
  }, 
  socials: [
    {
      url: 'https://RockGamerAK.com', 
      name: 'Website', 
    }, 
    {
      url: 'https://youtube.com/@RockGamerHub'
      name: 'YouTube', 
    }, 
    {
      url: 'https://instagram.com/RockGamerAK', 
      name: 'Instagram', 
    }, 
    {
      url: 'https://threads.net/@RockGamerAK', 
      name: 'Threads', 
    }, 
    {
      url: 'https://X.com/@RockGamerAK', 
      name: 'Twitter', 
    }, 
    {
      url: 'https://tiktok.com/@RockGamerAK'
      name: 'TikTok', 
    }, 
    {
      url: 'https://twitch.tv/RockGamerAK', 
      name: 'Twitch', 
    }, 
    {
      url: 'https://kick.com/RockGamerAK', 
      name: 'Kick', 
    }, 
    {
      url: 'https://discord.com/users/768273827549282305', 
      name: 'Discord'
    }, 
    {
      url: 'https://instagram.com/W.Web.Wizards', 
      name: 'Instagram', 
    }, 
    {
      url: 'W_Web_Wizards', 
      name: 'Twitter', 
    }, 
    {
      url: 'https://instagram.com/akumarrws', 
      name: 'Instagram', 
    }, 
    {
      url: 'https://threads.net/@akumarrws', 
      name: 'Threads', 
    }, 
    {
      url: 'https://instagram.com/akumar.transit', 
      name: 'Instagram', 
    }, 
    {
      url: 'https://instagram.com/akumar.photos', 
      name: 'Instagram', 
    }, 
    {
      url: 'https://X.com/akumarrws', 
      name: 'Twitter', 
    }, 
    {
      url: 'https://youtube.com/akumarrws', 
      name: 'YouTube', 
    }, 
    {
      url: 'https://tiktok.com/akumarrws', 
      name: 'TikTok', 
    }, 
    {
      url: 'https://discord.com/users/1097241365198409728', 
      name: 'Instagram', 
    }, 
  ],
  portfolio: [
    {
      img: {
        element: 'img',
        path: 'IMG_4052.png'
      },
      capt: '<a href="https://parks.RockGamerAK.com">A website</a> that I made promoting saving parks!',
      desc: `Made by: <a href="/members/adarsh">Adarsh</a>`,
    },
    {
      img: {
        element: 'img',
        path: 'IMG_4069.png',
      },
      capt: '<a href="https://rockgamerak.wixsite.com/games/jeopardy">A Jeopardy! Game</a> that I made!',
      desc: `Made by: <a href="/members/adarsh">Adarsh</a>`,
    }
  ],
}

if (!!userData.email.g4g) {
  userData.email.address = `${userData.username}@graphics-for-good.com`
}
else {
  let uName = userData.name
  if (uName.includes('<')) {
    uName = uName.split('<')[0]
  }
  uName = uName.split(' ')
  userData.email.address = `${uName[0].split('')[0]}${uName[1]}${userData.email.dtech.year}`
}
if (userData.location.combined.endsWith(', ')) {
  let str = userData.location.combined
  str.substring(0, str.length-2)
  userData.location.combined = str
}

userData.location.mapLink = userData.location.combined
while (userData.location.mapLink.includes(' ')) {
  userData.location.mapLink = userData.location.mapLink.replace(' ', '+')
}
userData.location.mapLink = `https://www.google.com/maps/place/${userData.location.mapLink}`

userData.socials.forEach(function(social, i) {
  userData.socials[i].icon = social.url
})

import Layout from '../../layouts/Layout.astro'

import '../../styles/pages/members.scss'
import '../../styles/photos.scss'
---
<Layout title="Members">
  <section id="content"></section>
  <main id="profile" class="profile">
    <section>
      <span id="pfp" style={`background-image: url('${userData[pfp][url]}')`}></span>
      <h1 id="name">{userData.name}</h1>
      <a id="email" href={`mailto:${userData.email.address}`}>{userData.email.address}</a>
      <a id="location" href={userData.location.mapLink}>
        <div></div>
        <span>{userData.location.combined}</span>
      </a>
      <ul id="socials">
        {userData.socials.map((social) => (
          <li>
            <a href={social.url} target="_blank" style={`background-image: url('${social.icon}')'`}></a>
          </li>
        ))}
      </ul>
      <p id="bio"></p>
    </section>
  </main>
  <script is:inline>
    var hasAddedMemberInfo = false
  </script>
  <script is:inline src="/members.js"></script>
  <script is:inline src="/modal.js"></script>
</Layout>