---
import defaultBio from './defaultBio.js'
import getUserGrade from './getUserGrade.js'
import updateUserData from './updateUserData.js'

var userData = {
  username: 'hanlin', 
  name: 'Hanlin Su',
  role: {
    name: 'Member', 
  }, 
  pronunciation: false, //'Han-lin', 
  email: {
    g4g: true,
    dtech: {
      year: 25,
    },
  }, 
  pfp: {
    g4g: {
      sizes: [
        {
          ext: 'png',
          name: 'full', 
        }, 
        {
          ext: 'svg',
          name: 'full', 
        }, 
      ],
    },
    google: {
      url: 'AD5-WCnt_DoEt5klDUvrrysH-A3qw-DjgTdhqj5iPoUj',
   }, 
  },
  location: {
    city: 'Bay Area', 
    state: '',
  }, 
  bio: {
  }, 
  socials: [
    {
      url: 'https://JavaCreates.com', 
      name: 'Website', 
    }, 
    {
      url: 'https://youtube.com/JavaCreates', 
      name: 'YouTube', 
    }, 
    {
      url: 'https://x.com/JavaCreates', 
      name: 'Twitter', 
    }, 
    {
      url: 'https://instagram.com/JavaCreates', 
      name: 'Instagram', 
    }, 
    {
      url: 'https://tiktok.com/JavaCreates', 
      name: 'TikTok', 
    }, 
    // {
    //   url: 'https://discord.com/users/924832680607092777', 
    //   name: 'Discord', 
    // }, 
    {
      url: 'https://instagram.com/HedgeHogHanlin', 
      name: 'Instagram', 
    }, 
    // {
    //   url: 'https://discord.com/users/924832680607092777', 
    //   name: 'Discord', 
    // }, 
  ],
  portfolio: [
    // {
    //   img: {
    //     element: 'img',
    //     path: 'G4G-Ad.svg'
    //   },
    //   capt: 'An Ad for <a href="/">Graphics for Good</a> made by <a href="/members/hanlin">Hanlin</a>!',
    //   desc: 'Made by: <a href="/members/hanlin">Hanlin</a>',
    // },
  ],
}

let grade = getUserGrade(userData.email.dtech.year)

let w1 = userData.bio.w1
if (!!w1 === false) w1 = false
let w2 = userData.bio.w2
if (!!w2 === false) w2 = false
let removeAnd = userData.bio.removeAnd
if (!!removeAnd === false) removeAnd = false

userData.bio.custom = `${userData.name}{pronunciation} also known to his online community as <a href="https://roblox.fandom.com/wiki/Community:JavaCreates">JavaCreates</a>, is an animator and digital art creator and ${defaultBio(userData.name, grade, w1, w2, userData.role.name, removeAnd).replace(`${userData.name}{pronunciation} is `, '')} You can find his work on his <a href="https://youtube.com/JavaCreates">YouTube Channel</a>!`, 

userData = updateUserData(userData)

import Layout from '../../layouts/Layout.astro'

import '../../styles/pages/members.scss'
import '../../styles/photos.scss'
---
<Layout title={userData.nameNoTitle}>
  <section id="content"></section>
  <main id="profile" class="profile">
    <section>
      <span id="pfp" style={`background-image: url('${userData.pfp.url}')`}></span>
      <h1 id="name">{userData.nameNoTitle}</h1>
      <a id="email" href={`mailto:${userData.email.address}`}>{userData.email.address}</a>
      <a id="location" href={userData.location.mapLink}>
        <div></div>
        <span>{userData.location.combined}</span>
      </a>
      <ul id="socials">
        {userData.socials.map((social) => (
          <li>
            <a href={social.url} target="_blank" style={`background-image: url('${social.icon}')`}></a>
          </li>
        ))}
      </ul>
      <p id="bio" set:html={userData.bio.result}></p>
      <h2>Portfolio</h2>
      <ul id="photos" style="height: auto; gap: 25px;">
        {userData.portfolio.map((photo) => (
          <li>
            <img src={photo.src} title={photo.title} onclick={photo.onclick} />
          </li>
        ))}
      </ul>
    </section>
  </main>
  <script is:inline>
    var hasAddedMemberInfo = true
  </script>
  <script is:inline src="/members.js"></script>
  <script is:inline src="/modal.js"></script>
</Layout>