---
import defaultBio from './defaultBio.js'
import updateUserData from './updateUserData.js'

var userData = {
  username: 'isabelle', 
  name: 'Isabelle Anderson <span id="tag">(Website Assistant)</span>',
  pronunciation: false, 
  email: {
    g4g: false,
    dtech: {
      year: 25,
    },
  }, 
  pfp: {
    google: {
      url: 'AD5-WCnPy-2RCIBm3xW24x52NHYd1QawRjgezLuj1Pu2',
      a: 'a-', 
    }, 
  },
  location: {
    city: 'Bay Area', 
    state: '',
  }, 
  bio: {
    w1: false, 
    w2: 'for',
  }, 
  socials: [],
  portfolio: [
    {
      img: {
        element: 'img',
        path: "DON'T-EAT-FROGS.svg",
      },
      capt: `A poster that I made demanding that you not eat frogs.`,
      desc: `Made by: <a href="/members/isabelle">Isabelle</a>`,
    },
    {
      img: {
        element: 'img',
        path: 'Untitled-(800-x-1000-px).svg',
      },
      capt: `A scenescape of a frog chilling out that I made.`,
      desc: `Made by: <a href="/members/isabelle">Isabelle</a>`,
    },
  ],
}

userData = updateUserData(userData)

import Layout from '../../layouts/Layout.astro'

import '../../styles/pages/members.scss'
import '../../styles/photos.scss'
---
<Layout title={userData.nameNoTitle}>
  <section id="content"></section>
  <main id="profile" class="profile">
    <section>
      <span id="pfp" style={`background-image: url(${userData.pfp.url})`}></span>
      <h1 id="name">{userData.nameNoTitle}</h1>
      <a id="email" href={`mailto:${userData.email.address}`}>{userData.email.address}</a>
      <a id="location" href={userData.location.mapLink}>
        <div></div>
        <span>{userData.location.combined}</span>
      </a>
      <ul id="socials">
        {userData.socials.map((social) => (
          <li>
            <a href={social.url} target="_blank" style={`background-image: url('${social.icon}')`}></a>
          </li>
        ))}
      </ul>
      <p id="bio" set:html={userData.bio.result}></p>
      <h2>Portfolio</h2>
      <ul id="photos" style="height: auto; gap: 25px;">
        {userData.portfolio.map((photo) => (
          <li>
            <img src={photo.src} title={photo.title} onclick={photo.onclick} />
          </li>
        ))}
      </ul>
    </section>
  </main>
  <script is:inline>
    var hasAddedMemberInfo = true
  </script>
  <script is:inline src="/members.js"></script>
  <script is:inline src="/modal.js"></script>
</Layout>