---
import defaultBio from './defaultBio.js'
import updateUserData from './updateUserData.js'

var userData = {
  username: 'shikha', 
  name: 'Shikha Iyer <span id="tag">(Club President)</span>',
  pronunciation: false, //'Uh-da-r-sh',
  email: {
    g4g: true,
    dtech: {
      year: 25,
    },
  }, 
  pfp: {
    g4g: {
      sizes: [
        {
          ext: 'png',
          name: 'large', 
        }, 
      ],
    },
    google: {
      url: 'AD5-WCmPo7cOTdQEFaMGPX2MmQ9ThsEGHVVhebGKnqnoww',
    }, 
  },
  location: {
    city: 'Bay Area', 
    state: '',
  }, 
  bio: {
    w1: 'the',
    w2: 'for',
  }, 
  socials: [],
  portfolio: [
    {
      img: {
        element: 'img',
        path: 'Elarra.jpg',
      },
      capt: `Elarra made by me.`,
      desc: `Made by: <a href="/members/shikha">Shikha</a>`,
    },
    {
      img: {
        element: 'img',
        path: 'Fairy.jpg',
      },
      capt: `Fairy made by me.`,
      desc: `Made by: <a href="/members/shikha">Shikha</a>`,
    },
    {
      img: {
        element: 'img',
        path: 'c3.jpg',
      },
      capt: `A charecter made by me.`,
      desc: `Made by: <a href="/members/shikha">Shikha</a>`,
    },
    {
      img: {
        element: 'img',
        path: 'Rapunzel.jpg',
      },
      capt: `Rapunzel made by me.`,
      desc: `Made by: <a href="/members/shikha">Shikha</a>`,
    },
    {
      img: {
        element: 'img',
        path: 'Did-you-know.svg',
      },
      capt: `A poster made by <a href="/members/shikha">Shikha</a> for <a href="https://instagram.com/4goodgraphics">Our Instagram</a> to educate you about climate change.`,
      desc: `Made by: <a href="/members/shikha">Shikha</a>`,
    },
    {
      img: {
        element: 'iframe',
        path: "Women's-History-Month!.pdf",
      },
      capt: `A poster made by <a href="/members/shikha">Shikha</a> for <a href="https://instagram.com/4goodgraphics">Our Instagram</a> to talk to you about womans rights.`,
      desc: `Made by: <a href="/members/shikha">Shikha</a>`,
    },
  ],
}

userData = updateUserData(userData)

import Layout from '../../layouts/Layout.astro'

import '../../styles/pages/members.scss'
import '../../styles/photos.scss'
---
<Layout title={userData.nameNoTitle}>
  <section id="content"></section>
  <main id="profile" class="profile">
    <section>
      <span id="pfp" style={`background-image: url('${userData.pfp.url}')`}></span>
      <h1 id="name">{userData.nameNoTitle}</h1>
      <a id="email" href={`mailto:${userData.email.address}`}>{userData.email.address}</a>
      <a id="location" href={userData.location.mapLink}>
        <div></div>
        <span>{userData.location.combined}</span>
      </a>
      <ul id="socials">
        {userData.socials.map((social) => (
          <li>
            <a href={social.url} target="_blank" style={`background-image: url('${social.icon}')`}></a>
          </li>
        ))}
      </ul>
      <p id="bio" set:html={userData.bio.result}></p>
      <h2>Portfolio</h2>
      <ul id="photos" style="height: auto; gap: 25px;">
        {userData.portfolio.map((photo) => (
          <li set:html={photo.html}></li>
        ))}
      </ul>
    </section>
  </main>
  <script is:inline>
    var hasAddedMemberInfo = true
  </script>
  <script is:inline src="/members.js"></script>
  <script is:inline src="/modal.js"></script>
</Layout>