---
var defaultMembers = [
    {
        name: 'Kodi Chin', 
        year: 25, 
    }
]

var allMembers = await Astro.glob('../../members/*/info.js')
var members = []

var roleMembers = allMembers.filter(m => {
    m = m.default
    if (m) {
        var r = m.role
        return !!r && r !== 'Member'
    }
    else return false
})

var noRoleMembers = allMembers.filter(m => {
    m = m.default
    if (m) {
        var r = m.role
        return !r || r === 'Member'
    }
    else return false
})

// defaultMembers.forEach(m => {
//     var name = m.name
//     var year = m.year

//     var username = name.toLowerCase()

//     if (username.includes(' ')) {
//         username = username.split(' ')

//         username = username[0]
//     }

//     var mObj = {
//         default: {
//             status: 'active',
//             username: `${username}?year=${year}`, 
//             name: name, 
//         }
//     }

//     noRoleMembers.push(mObj)
// })

// noRoleMembers.sort()

if (roleMembers) {
    roleMembers.forEach(m => {
        members.push(m)
    })
}

if (allMembers) {
    allMembers.forEach(m => {
        members.push(m)
    })
}

import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'

import '../styles/pages/members.scss'
import '../styles/photos.scss'
---
<Layout title="Members">
    <main id="content">
        <Hero classItems="fullHeight">
            <ul id="menu">
                <h1>Club Members</h1>
                {
                    members.map((member) => {
                        member = member.default

                        if (!member.username.startsWith('_') && member.status === 'active') {
                            var username = member.username
                            var role = !!member.role ? member.role.name === 'Member' ? '' : member.role.name : ''

                            return (
                                <a href={
                                    `/members/${username}/`
                                }>
                                    <li>
                                        {member.name}
                                        {
                                            !!role ? <span id="tag">({role})</span> : ''
                                        }
                                    </li>
                                </a>
                            )
                        }
                    })
                }
            </ul>
        </Hero>
    </main>
    <script is:inline src="/members.js"></script>
</Layout>