---
export interface Props {
	carouselIndex: string;
	dataColumns: string;
	dataId: string;
}

var { carouselIndex, dataColumns, dataId } = Astro.props as Props;

carouselIndex = parseInt(carouselIndex)
dataColumns = parseInt(dataColumns).toString()

var forwFunction = `javascript:goBack(this);`
var backFunction = `javascript:goForw(this);`

---
<div class="carousel" id={dataId} data-index={carouselIndex} data-columns={dataColumns} active-index={0}>
  <a class="arrow" hidden href={`#${dataId}`} onClick={backFunction}>
    <img src="/assets/arrows/L.svg" class="button" draggable="false" alt={`Move Carousel ${carouselIndex} Backward.`} />
  </a>
  <div class="img-container">
    <div class="imgs">
      <slot />
    </div>
  </div>
  <a class="arrow" hidden href={`#${dataId}`} onClick={forwFunction}>
    <img src="/assets/arrows/R.svg" class="button" draggable="false" alt={`Move Carousel ${carouselIndex} Forwards.`} />
  </a>
</div>