---
import '../styles/carousel.scss'

export interface Props {
	carouselIndex: string;
}

var { carouselIndex } = Astro.props as Props;

carouselIndex = parseInt(carouselIndex)

var forwFunction = `javascript:goBack(${carouselIndex});`
var backFunction = `javascript:goForw(${carouselIndex});`

---
<div class="carousel">
    <a href={forwFunction}>
      <img src="/assets/arrows/L.svg" class="button" draggable="false" alt={`Move Carousel ${carouselIndex} Forward.`}>
    </a>
    <ul class="imgs">
      <img src="/assets/blank.png" draggable="false">
      <slot />
      <img src="/assets/blank.png" draggable="false">
    </ul>
    <a href={backFunction}>
      <img src="/assets/arrows/R.svg" class="button" draggable="false" alt={`Move Carousel ${carouselIndex} Backward.`}>
    </a>
</div>