---
import '../styles/components/footer.scss'

var siteUpdatedDate = '09/13/2023'
var uMember = 'adarsh'
var uMemberName = `${uMember[0].toUpperCase()}${uMember.substring(1)}`
var fWord = 'Site'

var unixSiteUpdated = new Date(siteUpdatedDate).getTime()/1000
var newSiteUpdatedDate = (new Date(siteUpdatedDate))
var finalDate = String(newSiteUpdatedDate).substring(0, 15)
var finalDateS = finalDate.split(' ')

finalDateS[0] = finalDateS[0]
  .replace('Tueday', 'Tuesday')
  .replace('Wedday', 'Wednesday')
  .replace('Thuday', 'Thursday')
  .replace('Satday', 'Saturday')

finalDateS[1] = finalDateS[1]
  .replace('Jan', 'January')
  .replace('Feb', 'February')
  .replace('Mar', 'March')
  .replace('Apr', 'April')
  .replace('May', 'May')
  .replace('Jun', 'June')
  .replace('Jul', 'July')
  .replace('Aug', 'August')
  .replace('Sep', 'September')
  .replace('Oct', 'October')
  .replace('Nov', 'November')
  .replace('Dec', 'December')

if (finalDateS[2].startsWith('0')) {
  finalDateS[2] = finalDateS[2].substring(1)
}
if (finalDateS[2].endsWith('1') && finalDateS[2] !== '11') {
  finalDateS[2] = `${finalDateS[2]}st`
}
else if (finalDateS[2].endsWith('2') && finalDateS[2] !== '12') {
  finalDateS[2] = `${finalDateS[2]}nd`
}
else if (finalDateS[2].endsWith('3') && finalDateS[2] !== '13') {
  finalDateS[2] = `${finalDateS[2]}rd`
}
else {
  finalDateS[2] = `${finalDateS[2]}th`
}
finalDate = `${finalDateS[0]}, ${finalDateS[1]} ${finalDateS[2]}, ${finalDateS[3]}`

---
<footer>
    <span>
        <span class="fWord">Site</span> Updated on <span class="date">{finalDate}</span> by <a href={`/members/${uMember}`} class="member">{uMemberName}</a> | 
        Check Status at <a href="https://go.graphics-for-good.com/Status">/status</a>.
    </span>
</footer>
<script is:inline>
var pageDates = {
  // members: '04/27/2023'
}

var page = location.pathname.substring(1)
if (!!page === false) {
  page = 'index'
  // page = 'members'
}
if (!!pageDates[page]) {
  siteUpdatedDate = pageDates[page]
  var fWord = 'Page'
  document.querySelector('footer > .fWord').textContent = fWord
  document.querySelector('footer > .date').textContent = pageDates[page]
}
</script>