---
import '../styles/components/header.scss'

var path = Astro.url.pathname
var domain = Astro.url.origin
if (path.startsWith('/') && path !== '/') path = path.slice(1)
if (path.endsWith('/') && path !== '/') path = path.slice(0, path.length-1)

import navLinkChanges from '../../config/navbar/links.js'

var pathChanges = navLinkChanges.pathChanges

var pS = await import.meta.glob('../pages/*.astro')
var pages = []
for (const path in pS) {
  var page = await import(path)
  pages.push(page.default)
}


var links = []
pages.map(page => {
  var link = getLink(page)
  if (link.name === 'Home') {
    links.push(link)
  }
})
pages.map(page => {
  var link = getLink(page)
  if (link.name !== 'Home') {
    if (link.path) {
      links.push(link)
    }
  }
})

function getFName(str) {
  if (str.includes('/')) str = str.split('/').slice(-1)[0]
  return str
}

function getFNameNoExt(str) {
  str = getFName(str)
  str = str.slice(0, -1*getFExt(str).length)

  return str
}

function getFExt(str) {
  str = getFName(str)
  if (str.includes('.')) {
    str = str.split('.')
    str = str.slice(-1)
    str = `.${str.join('.')}`
  }
  return str
}

function getLink(link) {
  var lPath = getFNameNoExt(link.moduleId)
  var hasHome = false
  
  var fileName = getFNameNoExt(lPath)
  if (fileName.startsWith('/')) fileName = fileName.slice(1)
  if (fileName === 'index' && !hasHome) {
    fileName = 'home'
    hasHome = true
  }
  else if (fileName.startsWith('_')) return ''
  else if (fileName.startsWith('[') && fileName.endsWith(']')) return ''
  else if (parseInt(fileName)) return ''

  var rep = pathChanges.filter(r => r.key === fileName)
  if (rep.length > 0) fileName = rep[0].value

  var nameParts = []
  if (fileName.includes('-')) nameParts = fileName.split('-')
  else nameParts = [fileName]

  nameParts.forEach((p, i) => {
    nameParts[i] = `${p.substring(0, 1).toUpperCase()}${p.slice(1)}`
  })

  var name = nameParts.join(' ')
  var extraClasses = ''

  if (lPath === 'home') lPath = '/'
  if (lPath === path) extraClasses += ' primary'
  if (!lPath.includes('://')) lPath = `/${lPath}/`

  if (lPath.endsWith('//')) lPath = lPath.slice(0, -1)
  if (lPath.startsWith('//')) lPath = lPath.slice(1)

  return {
    path: lPath,
    extraClasses: extraClasses,
    name: name
  }
}

---
<a id="go2content" href="javascript:scrollToNum()">Skip to Content</a>
<header class="header">
  <a href="/" class="logo-parent">
    <img class="logo" src="/assets/Logo-Blank.svg" alt="Graphics for Good Logo" title="Our Logo">
  </a >
  <nav class="nav">
    <input type="checkbox" id="closeNav" style="--display: none;" />
    <label for="closeNav" class="nav-hbg">
      <span class="material-symbols-outlined icon">menu</span>
    </label>
    <div class="nav-btns">
      <div class="nav-btns__inner">
        <div class="nav-info">
          <h3>Navigation</h3>
          <label for="closeNav" class="mob-nav-clse">
            <span class="material-symbols-outlined icon">close</span>
          </label>
        </div>
        {
          links.map(link => {
            var lPath = link.path
            var extraClasses = ''

            if (!lPath) {
              lPath = link.name.toLowerCase()
              if (lPath.includes(' ')) lPath = lPath.split(' ').join('')
            }

            if (lPath === 'home') lPath = '/'
            if (lPath === path) extraClasses += ' primary'
            if (!lPath.includes('://')) lPath = `/${lPath}/`

            if (lPath.endsWith('//')) lPath = lPath.slice(0, -1)
            if (lPath.startsWith('//')) lPath = lPath.slice(1)

            return <a href={lPath} class={`btn${extraClasses}`}>{link.name}</a>
          })
        }
      </div>
    </div>
  </nav>
  <div class="social">
    <a href="mailto:hello@graphics-for-good.com" title="Email Us" id="email" target="_blank"></a>
    <a href="https://instagram.com/4goodgraphics" title="Club Projects Instagram" id="instagram"></a>
    <a href="https://instagram.com/g4g_dtech" title="Club Updates Instagram" id="instagram"></a>
  </div>
</header>