---
// import { Image } from 'astro:assets';

const { id, src, alt, orientation, draggable } = Astro.props as Props;

import '../styles/components/largeImage.scss'
---
<label class="img-parent">
    <input type="checkbox" />
    <div class="img-container">
        <img id={id || null} src={src} style={`--bg: url('${src}')`} alt={alt || ''} orientation={orientation || ''} draggable={draggable || false} loading="lazy" decoding="async" />
        {
            !!fullRes ? (
                <iframe id={id || null} src={fullRes}>
                    <img id={id || null} src={src} style={`--bg: url('${src}')`} alt={alt || ''} orientation={orientation || ''} draggable={draggable || false} loading="lazy" decoding="async" />
                </iframe>
            ) : ''
        }
    </div>
</label>