---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import Modal from '../components/modal.astro'
import InfoBox from '../components/infobox.astro'

import '../styles/globals.scss'
import '../styles/icons.scss'
import '../styles/scrollAnimations.scss'

export interface Props {
	title: string;
}

var sTitle = 'Graphics for Good'
var description = 'Our mission is to help create change in the world through design. We strive to provide free design help for nonprofits that support a wide range of causes.'
var sUrl = 'https://graphics-for-good.com'
var pImg = '/assets/preview.svg'
var largeFavicon = '/favicon.png'

const { title } = Astro.props as Props;

let dTitle = `${title} | ${sTitle}`
if (title === 'Home') dTitle = sTitle

var currentPath = `/${Astro.url.pathname}`
if (currentPath.includes('//')) currentPath = currentPath.split('//').join('/')
var currentSite = Astro.site.toString()
if (currentPath.endsWith('/')) currentSite = currentSite.substring(0, -1*'/'.length)
var currentPage = `${Astro.site}${currentPath}`
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="image" content={pImg}>
    <meta property="description" content={description}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={pImg}>
    <meta property="og:url" content={sUrl}> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:title" content={dTitle}> 
    <meta name="twitter:description" content={description}> 
    <meta name="twitter:image" content={pImg}> 
    <link href={largeFavicon} rel="icon" type="image/png" />
    <link rel="canonical" href={currentPage} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{dTitle}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <InfoBox />
    <Modal />
    <span style="display: none;" hidden tElement id="tElement"></span>
    <script>
      if (!!document.querySelector('.hero') === false && location.pathname !== '/portal/') {
        document.querySelector('.header').setAttribute('bBorder', '')
      }
      document.querySelectorAll('.btn, button, [type="submit"], [type="button"]').forEach(function(btn, i) {
        btn.setAttribute('transition', '')
      })
    </script>
    <script is:inline src="/script.js"></script>
    <script is:inline>
      // javascript:(function () { var script = document.createElement('script'); script.src="//cdn.jsdelivr.net/npm/eruda"; document.body.appendChild(script); script.onload = function () { eruda.init() } })();
    </script>
  </body>
</html>